@model DiplomaDataModel.Choice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Choice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstChoiceOption.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstChoiceOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FourthChoiceOption.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FourthChoiceOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondChoiceOption.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondChoiceOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThirdChoiceOption.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThirdChoiceOption.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearTerm.YearTermId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearTerm.YearTermId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SelectionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SelectionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ChoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
